* {
	box-sizing: border-box;
}
body {
	background-color: black;
}
header {
	display: inline-flex;
}
a {
	color: white;
	text-decoration: none;
}
.navbar {
	display: inline-flex;
	font-size: 24px;
}
.navbarli {
	font-family: 'Alfa Slab One', cursive;
	padding: 0 40px;
}
.tabContent.active {
   background-color: white;
   z-index: 0;
   border-right: 0px;
   border-left: 0px;
   height: 110px;
   bottom: 0px;
   overflow: hidden;